@baseFontFamily :'Gulim',
'Dotum',
sans-serif;
@baseColor :#3D8361;
@textColor :#333;
@fontsize :20px;
@topheight :56px;

* {
  font-family: 'Inter';
  font-style: normal;
}

html {
  height: 100%;
}
body {
  margin: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: #EEEBEA;
}

.allpage {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
  width: 1400px;
  border: 50px 46.73px 44.82px 46.73px;
  height: 100%;
  border: 1px solid black;
  z-index: 100;
  background-color: white;
}

.header {
  width: 100%;
  height: 180px;

}

.header_top {
  margin: 50px 46.73px 44.82px 46.73px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.header_top_icon {
  display: flex;
  align-items: center;

}
.header_top_icon > a{
  width:30%;
  height: 100%;
}
.borrow_logo {
  cursor:pointer;
  margin-right: 28px;
}

.input_search {
  width: 600px;
  height: 56px;
  margin-left: 28px;
  background-image: url('../img/search_logo.png');
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: 95%;
  border: 2px solid #3D8361;
  border-radius: 20px;

}

.header_top_menu {
  display: flex;
  align-items: center;
}

.mypage {
  margin-right: 11px;
  font-size:20px;
}

.username {
  margin-right: 11px;
  font-size:20px;
}

.loginOutText{
  margin:0px;
  font-size:20px;
}

.br {
  background-color: black;
  width: 1px;
  height: 30px;
  margin-right: 11px;
}

ul {
  display: flex;
}

.logoutBtn {
  width: 111px;
  height: 41px;
  background: #3D8361;
  border-radius: 15px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 10px;
  color: white;
}

.bottom_items {
  display: flex;
  align-items: center;
  text-align: center;
  line-height: 50px;
  padding: 0px;
  height: 42px;
  justify-content: space-between;
}

.bottom_items>li {
  text-align: center;
}

.nav_realmenu_box {
  display: flex;
  justify-content: space-between;
  width: 200px;
  padding: 0px 15px 0px 15px;
  height: 42px;
  background: #EEEBEA;
  border-radius: 10px;
  margin: 0px 50px 0px 50px;
}

.nav_realmenu_left {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_realmenu_right {
  display: flex;
  align-items: center;
}

.nav_realmenu_t2 {
  margin-left: 10px;
}

.ploygon {
  margin-left: 10px;
  width: 12px;
  height: 12px;
}

.bottomVector {
  width: 20px;
  height: 15px;
}

li {
  list-style: none;
}

a {
  width: 74px;
  height: 24px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color:black;
}

a:link {
  color: black;
  text-decoration: none;
}
.nav_gido >a:visited {
  color:red;
}

/* a:visited {
  color: black;
  text-decoration: none;
} */

a:hover {
  color: black;
  text-decoration: none;
}

.nav_home {
  margin-left: 85px;
}
.nav_best{
  color:red;
}

.active {
  visibility: visible;
}

 /* 실시간 검색어 ---------------------------------------------------------------------- */
.nav_realtimesearch {
  visibility: hidden;
  position: absolute;
  left: calc(50%-10px);
  transform: translate(154%, 0);
  top: 205px;
  padding: 0px 0px 30px 30px;
  z-index: 1;
  width: 500px;
  height: 481px;
  display: flex;
  flex-direction: column;
  background: #F5F5F5;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;

}

.realtime {
  display: flex;
  text-align: center;
}

.realtime_text {
  display: flex;
  height: 26px;
  padding: 20px;
  padding-left: 0px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 19px;
  text-align: center;
}

.real_time_ranking {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  /* // justify-content: space-between; */
}

.real_time_ranking>* {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ranking_left {
  flex-basis: 30%;
}

.ranking_right {
  flex-basis: 70%;
}

.real_time_ranking>img {
  width: 10px;
  height: 10px;
}

.real_time_ranking>.rankingWord {
  /* // margin-right: 50px; */
}

.real_time_ranking>span {
  display: flex;
  justify-content: space-between;
}

.realtimeLeft {
  width: 205px;
  height: 400px;
  margin-right: 50px;
}

.ranking_text {
  width: 50px;
  height: 19px;
  display: flex;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
}

.realtimeRight {
  width: 205px;
  height: 400px;
}

/* //최근검색어 ------------------------------------------------------------------------ */
.recentSearchContainer {
  position: absolute;
  left: calc(20%-500px);
  transform: translate(-25%, 0);
  top: 115px;
  width: 500px;
  height: 196px;
  background: white;
  /* Gray/Light */
  border: 1px solid Black;
  /* Shawdow */
  box-shadow: 0px 4px 20px 10px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  z-index: 101;
  visibility: hidden;
}

.recentSearchBox>.text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 17px;
  color: #000000;

}

.recentSearchBox>.autoSave {
  display: flex;
  justify-content: flex-end;
  padding: 15px 0px 0px 0px;
}

.recentSearchBox {
  padding: 10px 40px 30px 40px;
}

.recentSearchBox>.recentSearch {
  display: flex;
  justify-content: space-between;
  padding: 0px;
}

.searchBrTags {
  width: 100%;
  height: 0px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.backgroundCircle {}

.circle {
  position: absolute;
  top: 81.5%;
  left: 90%;
}

@-webkit-keyframes circleleft {
  0% {
    right: 0px;
  }

  100% {
    right: 20px;
  }
}

@-webkit-keyframes circleright {
  0% {
    left: 0px;
  }

  100% {
    left: 20px;
  }
}

/* //찜하기 & 최근 본 상품--------------------------------------------------------------------------------------- */
.jb-wrap img {
  vertical-align: middle;
  width: 30.83px;
  height: 26.75px;
}

.dibs-text>p {
  text-align: center;
  transform: translate(0%, -200%);
}

.dibs {
  border: 1px solid black;
  text-align: center;
  width: 132px;
  height: 85px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: white;
}

.recently {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
  width: 132px;
  height: 267px;
  background-color: white;
}

.real_br_tags {
  width: 100%;
  height: 1px;
  margin-bottom: 16px;
  background-color: #00000033;
}

.br_tags {
  width: 80%;
  height: 1px;
  margin-bottom: 16px;
  background-color: black;
}

.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  text-align: center;
  right: calc(50% - 917px);
  top: 30%;
  height: 100%;
}

.p-text {
  margin: 0px;
  padding: 6px 0px 10px 0px;
}


/* //best item-------------------------------------------------------------------------- */
.bottomDiv {
    display:flex;
    width:100%;
    flex:1;

    justify-content: center;
}

.bottom {
  display: flex;
  flex-direction: column;
  margin-top: 54px;
  height: 100%;
  flex-basis:40%;
  margin-right: 30px;
}
.mapApi {
    display:flex;
    flex-basis:40%;
    border:1px solid black;
    margin: 70px 0px 0px 30px;
}
.bestitem_text {
  display: flex;
  flex-direction: column;
  margin-top: 36px;

}

.bestitemdescription>ul {
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
  width: 224px;
  height: 37.4;
}

.bestitemdescription {
  width: 221px;
  padding: 7px;
}

.text_top {
  display: flex;
}

.text_top>span {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  margin-left: 17px;
}

.text_bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.Explane {
  margin-left: 60px;
  padding: 0px;
}

.ViewMoreBtn {
  margin-right: 20px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 19px;
  cursor: pointer;
  /* // padding:10px;
  // border:1px solid Gray ;
  // border-radius: 20px; */
  text-align: center;

  color: #545454;

}

.text_bottom>p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  color: black;
}

.bestitems {
  display: flex;
  height: 70%;
  flex-wrap: wrap;
  border:1px solid black;
  justify-content: center;
  align-items: center;
}

.bestitem {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  width: 230px;
  height: 299px;
  border-radius: 17px;
  border: 0.849398px solid #959190;
  margin: 0px 10px 0px 10px;
  /* margin-right: 39px; */
}

.TransMethodImg {
  display: flex;
}

.besong {
  padding: 0px 5px 0px 5px;
}

.bestitemImg {
  width: 221px;
  height: 186px;
}

.priceAndDay {
  display: flex;
  padding: 0px;
  text-align: center;
}

.bestitemday {
  color: #F00E0E;
  padding: 0px 30px 0px 5px;
}

.priceAndDay>li {
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.mapImg {
  width: 41px;
  height: 41px;
}

/* //페이지네이션------------------------------------------------------------------------- */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

/* // nav {
//   display: flex;
//   justify-content: center;
//   border-top: 1px solid #eee;
//   margin-top: 1em;
//   padding-top: .5em;
// } */

.pagination {
  margin-left:50px;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  text-align: center;
  justify-content: flex-start;
}

.pagination li {
  margin: 0 1px;
}

/* // .pagination a {
//   display: block;
//   padding: .5em 1em;
//   border: 1px solid #999;
//   border-radius: .2em;
//   text-decoration: none;
// } */

.pagination a[aria-current="page"] {
  background-color: #333;
  color: #fff;
}

#numbers {
  display: flex;
  justify-content: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;

  color: #000000;
}

#numbers>li>a {
  display:flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background: #3D8361;
  border-radius: 100px;
  border: 1px solid #999;
  text-decoration: none;
  margin-right: 21px;
}

.pagination>span {
  display: flex;
  width: 50px;
  height: 50px;
  font-size: 40px;
  text-align: center;
  align-items: center;
}

/* .button-list {
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  cursor: pointer;

} */
/*
@desktop:   ~"only screen and (min-width: 960px) and (max-width: 1199px)";
@tablet:    ~"only screen and (min-width: 720px) and (max-width: 959px)";

@media @desktop {
  footer {
    width: 940px;
  }
}

@media @tablet {
  footer {
    width: 768px;
  }
}
*/

